/* POST GENERAL */
.post {
    max-width: 98%;
    margin-bottom: 45px;
    border-radius: 4px;
    border: 1px solid lightgrey;
    background: #fff;
}

/* POST HEADER */
.post__header {
    display: flex; 
    align-items: center;
    padding: 15px;
}

.post__avatar {
    margin-right: 10px;
}

/* POST MAIN */
.post__image {
    max-width: 100%;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    object-fit: contain;
}

/* POST FOOTER */
.post__footer ul {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    max-width: 30%;
    height: 60px;
    margin-left: 20px;
    list-style: none;
}

.post__footer ul li .post__icon {
    font-size: 28px;
    color: #8E8E8E;
    transition: color .3s;
}

.post__footer ul li .post__icon:hover {
    color: #4b4a4a;
}

.post__text {
    font-weight: normal;
    margin-bottom: 20px;
    margin-left: 20px;
}

/* TABLET VERSION */
@media screen and (min-width: 767px) {
    .post__footer ul {
        max-width: 20%;
    }
}   

/* 1000px VERSION */
@media screen and (min-width: 1000px) {
    .post {
        max-width: 61%;
    }
}   

/* DESKTOP VERSION */
@media screen and (min-width: 1200px) {
    .post {
        max-width: 50%;
    }
} 